*{
    box-sizing: border-box;
    text-align: center;
    margin: 0 auto;
}
body{
    background: #f1f1f1;
}

.tabuleiro{
    display:flex;
    flex-wrap: wrap;
    font-weight: bold;
    width: 250px;
    padding: 0;
}

.tabuleiro .posicao{
    list-style: none;
    width: 20%;
    height: 44px;
    background: blue;
    border: 2px solid white;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    user-select: none;
}

.btn{
    border: 2px solid rgb(103, 103, 255);;
    color: rgb(103, 103, 255);
    font-weight: bold;
    padding: 5px 20px;
    border-radius: 5px;
    background: #f1f1f1;
    transition: 500ms;
    margin: 20px auto;
}

.btn:hover{
    border: 2px solid blue;
    color: blue;
    background: white;
}

#count{
    font-weight: bold;
}